{% extends 'base.html' %}
{% block title %}{{ product.name_goods }}{% endblock %}
{% block nav %}
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{% url 'feedback:update_product' product.pk %}">Редактировать</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{% url 'feedback:delete_product' product.pk %}">Удалить</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{% url 'feedback:review_product' product.pk %}">Добавить отзыв</a>
    </li>
{% endblock %}
{% block content %}
    <br>
    <div class="card border-info mb-3" style="max-width: 18rem;">
        <div class="card-header bg-transparent border-info">Категория: {{ product.get_category_display }}</div>
        <div class="card-body ">
            <h5 class="card-title">Название: {{ product.name_goods }}</h5>
            <p class="card-text">Описание: {{ product.description }}</p>
            <img style="width: 250px; height: auto;"
                 src="{{ product.picture.url }}" alt="picture">
        </div>
        <div class="card-footer bg-transparent border-info">
            <a href="{% url "feedback:index" %}" class="btn btn-primary" style="float: right">Назад</a></div>
    </div>
    {% include "partial/review_list.html" with reviews=product.reviews.all %}
{% endblock %}